
example/ios/Runner/GoogleService-Info.plist
example/android/app/google-services.json
example/android/awn_fcm_core
example/android/awn_core
example/android/app/GooglePlaySign.jks

build/

example/firebase.json

example/lib/firebase_options.dart

.dart_tool/

.idea/

example/android/app/.cxx/
