<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.carda.awesome_notifications_fcm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application>

        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data android:name="delivery_metrics_exported_to_big_query_enabled"
            android:value="true" />

        <receiver
            android:name="me.carda.awesome_notifications_fcm.core.services.BootBroadcastReceiver"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DartFcmService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>
</manifest>
